<!DOCTYPE html>
<html>
<head>
    <title>Language Improver</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="icon" href="./images/favicon.png">
    <style>
        body{
            background-color:#d7d7d7;
        }
        textarea{
            width: 500px;
            height: 325px;
            max-width:500px;
            min-width:500px;
            max-height:325px;
            min-height:325px;
            font-size:20px;
            resize:none;
        }
        button{
            font-size:25px;
            text-align:center;
            border:0px;
        }
    </style>
</head>
<body align=center>
  
  <!-- h1 align=center>LANGUAGE IMPROVER</h1 !-->
  <img src="./images/logo.png" align=center>
  <br>
  <br>
  <img src="./images/caption.png">
  <br>
<div id="app" align=center>
    <!-- button @click="myFunction()">Fix All Grammar!</button !-->
    <br>
    <!-- img src="https://codehs.com/uploads/fa941fbc1f7208f37ba7a9387f1f257f" width=150px></img !-->
    <table>
        <tr>
            <td align=center>
                <textarea v-model="startInput" placeholder="Engwish goes here..." width=100px v-on:input="handleChange"></textarea>
            </td>
            <td align=center style="vertical-align:top;" width=10px>
                
            </td>
            <td align=center>
                <textarea v-model="finalInput" placeholder="" width=100px></textarea>
            <td>
        </tr>
    </table>
</div>
  
</body>
  
<script type="text/javascript">
    var hehe = new Vue({
      el: '#app',
      data: { 
      		startInput:"",
          	finalInput:"",
      },
      methods:{
            myFunction: function () {
            	this.finalInput = this.startInput.toLowerCase();
                this.finalInput = this.finalInput.replace("r","w");
				this.finalInput = this.finalInput.replace("l","w");
				this.finalInput = this.finalInput.replace("s ","sh ");
				this.finalInput = this.finalInput.replace("s.","sh.");
				this.finalInput = this.finalInput.replace("s,","sh,");
				if(this.startInput == "his brother has dark hair" || this.startInput == "His brother has dark hair"){
				this.finalInput = this.finalInput + " *uwu*";
				}
				console.log(this.finalInput);
				hehe.updateAll();
            },
            updateAll: function() {
                this.finalInput = this.finalInput.replace("r","w");
				this.finalInput = this.finalInput.replace("l","w");
				this.finalInput = this.finalInput.replace("s ","sh ");
				this.finalInput = this.finalInput.replace("s.","sh.");
				this.finalInput = this.finalInput.replace("s,","sh,");
				hehe.updateAll();
            },
            handleChange() {
                console.log('Updating Text...')
                this.myFunction();
            }
      }
    });
</script>
</html>
